<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>Home</title>
  </head>
  <body>
    <%- include('./partials/nav') %> <% if (locals.user) { %>
    <h1>Hello <%= user.userFullName %></h1>
    <% } else { %>
    <p>Hey Master</p>
    <% } %> <%- include('./partials/scripts') %>
  </body>
</html>
